.genre-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: flex-start; /* Inicia o conteúdo do topo */
  width: 300px;
  height: 300px;
  background-color: #f2f2f2; /* Fundo cinza claro */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left; /* Alinha o texto à esquerda */
  position: relative; /* Permite posicionamento absoluto para os textos */
  border-radius: 15px;
}

.genre-card img {
  width: 100%; /* Faz a imagem preencher toda a largura do card */
  height: 100%; /* Faz a imagem preencher toda a altura do card */
  object-fit: fill; /* Garante que a imagem cubra todo o espaço sem distorcer */
  border-radius: 15px;
}
.genre-card p {
  position: absolute; /* Posiciona o parágrafo de forma absoluta dentro do card */
  bottom: 10px; /* Distância do fundo do card */
  left: 10px; /* Distância da esquerda do card */
  margin: 0; /* Remove qualquer margem padrão */
  padding: 5px 10px; /* Padding para o texto */
  /* Fundo semi-transparente para melhor leitura */
  background-color: rgba(29, 100, 255, 0.65);
  color: white; /* Cor do texto */
  border-radius: 30px; /* Bordas arredondadas para o fundo do texto */
  font-weight: bold;
}
