.user-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b2b2b; /* Cor de fundo escura */
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  height: 80px;
}

.user-details {
  display: flex;
  align-items: center;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 20px;
}

.infoUser {
  height: 80px;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
}

.userName {
  font-size: 16px;
  font-weight: bold;
  color: #00baff; /* Cor do nome do usuário */
}

.userId {
  font-size: 14px;
  color: #ccc; /* Cor do ID do usuário */
}

.user-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.logout-button:hover {
  text-decoration: underline;
}
